/MemoryProvider/*.suo
/MemoryProvider/MemoryProvider/bin/Debug/ICSharpCode.SharpZipLib.dll
/MemoryProvider/References/ICSharpCode.SharpZipLib.dll
/MemoryProvider/References/MonoSoftware.Web.WAO.dll
/SessionProvider/References/ICSharpCode.SharpZipLib.dll
/SessionProvider/References/MonoSoftware.Web.WAO.dll
/SessionProvider/SessionProvider/bin/Debug/ICSharpCode.SharpZipLib.dll
/SessionProvider/SessionProvider/bin/Debug/MonoSoftware.Web.WAO.Providers.SessionProvider.dll
/SessionProvider/SessionProvider/bin/Debug/MonoSoftware.Web.WAO.Providers.SessionProvider.pdb
/SessionProvider/SessionProvider/bin/Debug/MonoSoftware.Web.WAO.dll
/SessionProvider/SessionProvider/obj/Debug/MonoSoftware.Web.WAO.Providers.SessionProvider.dll
/SessionProvider/SessionProvider/obj/Debug/MonoSoftware.Web.WAO.Providers.SessionProvider.pdb
/SessionProvider/SessionProvider/obj/Debug/ResolveAssemblyReference.cache
/SessionProvider/SessionProvider/obj/SessionProvider.csproj.FileListAbsolute.txt
/MemoryProvider/MemoryProvider/bin/Debug/MonoSoftware.Web.WAO.Providers.MemoryProvider.dll
/MemoryProvider/MemoryProvider/bin/Debug/MonoSoftware.Web.WAO.Providers.MemoryProvider.pdb
/MemoryProvider/MemoryProvider/bin/Debug/MonoSoftware.Web.WAO.dll
/MemoryProvider/MemoryProvider/obj/Debug/MonoSoftware.Web.WAO.Providers.MemoryProvider.dll
/MemoryProvider/MemoryProvider/obj/Debug/MonoSoftware.Web.WAO.Providers.MemoryProvider.pdb
/MemoryProvider/MemoryProvider/obj/Debug/ResolveAssemblyReference.cache
/MemoryProvider/MemoryProvider/obj/MemoryProvider.csproj.FileListAbsolute.txt
/ProvidersBlogPost.docx
/SessionProvider/*.suo
